includes:
  - ./vendor/larastan/larastan/extension.neon
  - ./vendor/pestphp/pest-plugin-phpstan/extension.neon

parameters:
  level: 5
  paths:
    - src
  excludePaths:
    - tests
  tmpDir: build/phpstan
  checkOctaneCompatibility: true
  checkModelProperties: true
